/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

